<a href="https://colab.research.google.com/github/amar-emad/newcoding/blob/main/Lab_1_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**lab 1**

In [ ]:
num1,num2,num3 =3,4,5
print('num1+num2=',num1+num2)
print('num3-num1',num3-num1)
print('num1*num2+num3',num1*num2+num3)
print('num1*num2+num3',num1*(num2+num3))
print('num3/num1',num3/num1)
print('num3//num1',num3//num1)
print('num3%num1',num3%num1)

num1+num2= 7
num3-num1 2
num1*num2+num3 17
num1*num2+num3 27
num3/num1 1.6666666666666667
num3//num1 1
num3%num1 2

In [ ]:
num1,num2,num3 =3.0,4.0,5.0
print('num1+num2=',num1+num2)
print('num3-num1',num3-num1)
print('num1*num2+num3',num1*num2+num3)
print('num1*num2+num3',num1*(num2+num3))
print('num3/num1',num3/num1)
print('num3//num1',num3//num1)
print('num3%num1',num3%num1)

num1+num2= 7.0
num3-num1 2.0
num1*num2+num3 17.0
num1*num2+num3 27.0
num3/num1 1.6666666666666667
num3//num1 1.0
num3%num1 2.0

In [ ]:
x,y,z,g=1,2,3,4
print('x+y*z/g',x+y*z/g)
print('y**z',y**z)

x+y*z/g 2.5
y**z 8

In [ ]:
str_a ='python '
str_b ='is a '
str_c =' times fun language'
num = 1000
str_ab =str_a + str_b +str(num) +str_c
str_a10=str_a*10
print(str_ab)
print(str_a10)

python is a 1000 times fun language
python python python python python python python python python python

In [ ]:
num_1,num_2,num_3,num_4 = -5, 3.2, 5.7, 625
print(abs(num_1))
print(round(num_2))
print(round(num_3))
print(num_4**0.5)

5
3
6
25.0

In [ ]:
num1=float(input('Enter your first number'))
num2=float(input('Enter your second number'))
print('result :',num1*num2)

Enter your first number5
Enter your second number6
result : 30.0

Questions on control flow

In [5]:
num = int(input('Enter your number : '))
if num % 2 == 0:
  print('even')
else :
  print('odd')

Enter your number : 8
even

In [7]:
exam_score = int(input('Enter your score from 0 to 100 : ' ))
if exam_score >=50 :
  print('passed')
else :

  print("failed")

Enter your score from 0 to 100 : 40
failed

In [10]:
num1= int(input('Enter first number : '))
num2= int(input('Enter second number : '))
num3= int(input('Enter third number : '))
if num1 >= num2 and num1 >= num3 :
  print("num1 largest number")
elif num2 >= num1 and num2 >= num3:
  print("num2 largest number")
else :
  print("num3 largest number")

Enter first number : 4
Enter second number : 6
Enter third number : 3
num2 largest number

In [11]:
for i in range(1,11) :
  print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
score = int(input('enter score : '))
if 90 <= score <= 100 :
  print('A')
elif 80 <= score <= 100 :
  print('B')
elif 70 <= score <= 100 :
  print('C')
elif 60 <= score <= 100 :
  print('D')
else :
  print('F')

enter score : 90
A

In [16]:
numb = int(input('enter the number : '))
for i in range(1,11) :
  print(f"{numb} x {i} = {numb*i}")

enter the number : 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [18]:
SumOfNumbers = 0
for i in range(1,51) :
  if i % 2 ==0 :
    SumOfNumbers +=1
    print('sum of numbers :' , SumOfNumbers)

sum of numbers : 1
sum of numbers : 2
sum of numbers : 3
sum of numbers : 4
sum of numbers : 5
sum of numbers : 6
sum of numbers : 7
sum of numbers : 8
sum of numbers : 9
sum of numbers : 10
sum of numbers : 11
sum of numbers : 12
sum of numbers : 13
sum of numbers : 14
sum of numbers : 15
sum of numbers : 16
sum of numbers : 17
sum of numbers : 18
sum of numbers : 19
sum of numbers : 20
sum of numbers : 21
sum of numbers : 22
sum of numbers : 23
sum of numbers : 24
sum of numbers : 25

In [22]:
numbers = int(input('enter the number : '))
factorial = 1
i =1
while i<=numbers:
  factorial*=i
  i+=1
print('factorial is ',factorial)

enter the number : 8
factorial is  40320