<a href="https://colab.research.google.com/github/amar-emad/newcoding/blob/main/Pandas%2BPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Part 1

The file "Purchase_Data.csv" contains purchase data at a Chinese supermarket for various products.  Read this csv into a dataframe called df_data and use the head() method to check that you have read in the data correctly. Make sure you import pandas.

In [1]:
#Write your code here
# Step 1: Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Step 2: Import pandas
import pandas as pd
import numpy as np

file_path = '/content/drive/MyDrive/Data/Purchase_Data.csv'
df = pd.read_csv(file_path)


print("CSV file loaded successfully! Here are the first few rows:")
print(df.head())

Mounted at /content/drive
CSV file loaded successfully! Here are the first few rows:
   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price
0    2.0
1    2.0
2    2.0
3    6.0
4    6.0

Use the dtypes attribute to view how each column is stored

In [ ]:
#Write your code here
print (df.dtypes)

Slice the first two columns using .loc and store the result in a variable called result_1.

In [2]:
#Write you code here
result_1 = df.loc[:,df.columns[:2]]
print(result_1)

      invoice_number   invoice_time
0       2.020000e+11  7/15/15 10:45
1       2.020000e+11  7/15/15 12:16
2       2.020000e+11  7/15/15 12:16
3       2.020000e+11  7/15/15 12:16
4       2.020000e+11  7/15/15 12:16
...              ...            ...
5377    2.020000e+11   9/5/15 23:07
5378    2.020000e+11   9/5/15 23:23
5379    2.020000e+11   9/5/15 23:24
5380    2.020000e+11   9/5/15 23:32
5381    2.020000e+11   9/5/15 23:38

[5382 rows x 2 columns]

Slice the first two rows using .loc and store the result in a variable called result_2.

In [3]:
#Write you code here
result_2=df.loc[:1, :]
print(result_2)

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0

   price
0    2.0
1    2.0

Slice the first four rows and the first five columns and store the result in a variable called result_3.

In [4]:
#Write your code here
result_3 = df.loc[:3, df.columns[:5]]
print(result_3)

   invoice_number   invoice_time store_id  product_id  category_id
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401

Slice rows 0,4,6 and columns invoice time and price and store the result in variable called result_4.

In [28]:
#Write your code here
result_4 = df.loc[[0, 4, 6], ["invoice_time", "price"]]
print(result_4)

    invoice_time  price
0  7/15/15 10:45    2.0
4  7/15/15 12:16    6.0
6  7/15/15 15:28    2.0

Store the number rows in a variable called num_rows.

In [8]:
numbers_rows = df.shape[0]
print(numbers_rows)

5382

Print out the last row of the data to dataframe. **Hint:** use the variable num_rows from the previous exercise.

In [9]:
numbers_rows = df.shape[0]
last_row = df.loc[numbers_rows - 1, :]
print(last_row)

invoice_number    202000000000.0
invoice_time        9/5/15 23:38
store_id                    G619
product_id              23030206
category_id               210101
num_item                     1.0
price                        2.0
Name: 5381, dtype: object

# Part 2

Compute the average and max price charged.  Store the results in variables called avg_price and max_price

In [10]:
#Write your code here
avg_price = df["price"].mean()
max_price = df["price"].max()
print("Average Price:", avg_price)
print("Max Price:", max_price)

Average Price: 3.1920522110741363
Max Price: 6.01

Compute the average price and average number of items purchased with only a single call to the mean() method. Store these averages in avg_price and avg_num_items.

In [12]:
#Write you code here
averages = df[["price", "num_item"]].mean()
avg_price = averages["price"]
avg_num_items = averages["num_item"]
print("Average Price:", avg_price)
print("Average Number of Items:", avg_num_items)

Average Price: 3.1920522110741363
Average Number of Items: 1.2983091787439613

Create a column called "total", which is the product of the price and num_item columns.

In [14]:
#Write your code here
df["total"] = df["price"] * df["num_item"]
print(df.head())

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price  total
0    2.0    2.0
1    2.0    2.0
2    2.0    2.0
3    6.0    6.0
4    6.0    6.0

What is the avgerage price of the three most expensive purchases?

In [15]:
#Write your code here
avg_top3_price = df["price"].nlargest(3).mean()
print("Average Price of Top 3 Expensive Purchases:", avg_top3_price)

Average Price of Top 3 Expensive Purchases: 6.003333333333333

How many different products are there?

In [17]:
#Write your code here
num_products = df["product_id"].nunique()
print("Number of different products:", num_products)

Number of different products: 53

Find the difference between the mean and median of the column total.  Use the describe() method and then index the dataframe it returns.

In [19]:
#Write your code here
df["total"] = df["price"] * df["num_item"]
stats = df["total"].describe()
mean_total = stats["mean"]
median_total = stats["50%"]
difference = mean_total - median_total
print("Mean of total:", mean_total)
print("Median of total:", median_total)
print("Difference (Mean - Median):", difference)

Mean of total: 3.931807878112784
Median of total: 3.0
Difference (Mean - Median): 0.9318078781127839

Use the drop() method to delete the column total from the dataframe df_data.

In [23]:
#Write your code here
df["total"] = df["price"] * df["num_item"]
df_data = df.drop("total", axis=1)
print(df_data.head())

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price
0    2.0
1    2.0
2    2.0
3    6.0
4    6.0

Let's dig a little deeper into the data set and answer some basic question.

In [24]:
#Write your code here

First, covert the column invoice time to a datetime column. Print out the new column types to make sure this was done correctly

In [30]:
#Write your code here
df["invoice_time"] = pd.to_datetime(df_data["invoice_time"])
print(df_data.dtypes)

invoice_number    float64
invoice_time       object
store_id           object
product_id          int64
category_id         int64
num_item          float64
price             float64
dtype: object

/tmp/ipython-input-2500446522.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["invoice_time"] = pd.to_datetime(df_data["invoice_time"])

Next, let's create columns called "DOW" and "Month", which store the corresponding weekday and month of the invoice respectively.  Print the head of the dataframe to make sure this was done correctly.

In [35]:
#Write your code here
df["invoice_time"] = pd.to_datetime(df_data["invoice_time"])
df["DOW"] = df["invoice_time"].dt.day_name()
df["Month"] = df["invoice_time"].dt.month_name()
print(df.head())

/tmp/ipython-input-178733440.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["invoice_time"] = pd.to_datetime(df_data["invoice_time"])

   invoice_number        invoice_time store_id  product_id  category_id  \
0    2.020000e+11 2015-07-15 10:45:00     G816     7000300       210101
1    2.020000e+11 2015-07-15 12:16:00     G816     7070884        70203
2    2.020000e+11 2015-07-15 12:16:00     G816     7070884        70203
3    2.020000e+11 2015-07-15 12:16:00     G816     7070891        70401
4    2.020000e+11 2015-07-15 12:16:00     G816     7090363        70401

   num_item  price  total        DOW Month
0       1.0    2.0    2.0  Wednesday  July
1       1.0    2.0    2.0  Wednesday  July
2       1.0    2.0    2.0  Wednesday  July
3       1.0    6.0    6.0  Wednesday  July
4       1.0    6.0    6.0  Wednesday  July

Create a variable called num_purchases_wed, which stores the number of purchases made on Wednesday?  You should use value_counts and then index the series it return.

In [37]:
#Write your code here
df["invoice_time"] = pd.to_datetime(df["invoice_time"])
df["DOW"] = df["invoice_time"].dt.day_name()
dow_counts = df["DOW"].value_counts()
num_purchases_wed = dow_counts["Wednesday"]
print("Number of purchases on Wednesday:", num_purchases_wed)

Number of purchases on Wednesday: 959

# Part 3

In this set of practice exercises, we will be working with a demographic data regarding the passengers aboard the Titanic.  Read in the data frame and use the head() method to check that it was read in correctly.

In [39]:
#Write your code here
file_path_titanic = '/content/drive/MyDrive/Data/Titanic.csv'
df_titanic = pd.read_csv(file_path_titanic)
print("Titanic dataset loaded successfully! Here are the first few rows:")
print(df_titanic.head())

Titanic dataset loaded successfully! Here are the first few rows:
   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

Use the rename method to change the column "Name" to "Passenger_Name" and the column "Ticket" to "Ticket_Num".

In [40]:
#Write your code here
df_data = df_data.rename(columns={
    "Name": "Passenger_Name",
    "Ticket": "Ticket_Num"})
print(df_data.head())

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price
0    2.0
1    2.0
2    2.0
3    6.0
4    6.0

Change the index of the df_titanic to the column PasengerID.

In [42]:
#Write your code here
df_titanic = df_titanic.set_index("PassengerId")
print(df_titanic.head())

             Pclass                                          Name     Sex  \
PassengerId
892               3                              Kelly, Mr. James    male
893               3              Wilkes, Mrs. James (Ellen Needs)  female
894               2                     Myles, Mr. Thomas Francis    male
895               3                              Wirz, Mr. Albert    male
896               3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

              Age  SibSp  Parch   Ticket     Fare Cabin Embarked
PassengerId
892          34.5      0      0   330911   7.8292   NaN        Q
893          47.0      1      0   363272   7.0000   NaN        S
894          62.0      0      0   240276   9.6875   NaN        Q
895          27.0      0      0   315154   8.6625   NaN        S
896          22.0      1      1  3101298  12.2875   NaN        S

Select the name of passenger 896

In [44]:
#Write your code here
passenger_name = df_titanic.loc[896, "Name"]
print("Passenger 896 Name:", passenger_name)

Passenger 896 Name: Hirvonen, Mrs. Alexander (Helga E Lindqvist)

Change the index back to row numbers but making sure that we don't lose the PassengerId column.

In [45]:
#Write your code here
df_titanic = df_titanic.reset_index()
print(df_titanic.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

How many missing entries are there in the Age column? Use the isnull() method and recall than Booleans are exactly like 1s (True) and 0s (False).

In [46]:
#Write you code here
missing_age = df_titanic["Age"].isnull().sum()
print("Number of missing entries in Age column:", missing_age)

Number of missing entries in Age column: 86

Compute the avg age of passengers ignoring the missing data.

In [47]:
#Write your code here
avg_age = df_titanic["Age"].mean()
print("Average Age of Passengers:", avg_age)

Average Age of Passengers: 30.272590361445783

Using the fillna() method replace the missing values in the Age column with the mean.

In [48]:
#Write your code here
mean_age = df_titanic["Age"].mean()
df_titanic["Age"] = df_titanic["Age"].fillna(mean_age)
print(df_titanic["Age"].head(10))

0    34.5
1    47.0
2    62.0
3    27.0
4    22.0
5    14.0
6    30.0
7    26.0
8    18.0
9    21.0
Name: Age, dtype: float64

What is the average age of the 5 oldest passengers? The reset_index method will be helpful here.

In [49]:
#Write your code here
oldest_passengers = df_titanic.sort_values(by="Age", ascending=False).reset_index()
top5_oldest = oldest_passengers.head(5)
avg_age_oldest5 = top5_oldest["Age"].mean()
print("Average age of 5 oldest passengers:", avg_age_oldest5)

Average age of 5 oldest passengers: 67.0